In [27]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [283]:
cfb = pd.read_csv("CFBeattendance.csv",encoding='unicode_escape')

In [284]:
cfb.head()

,Date,Team,Time,Opponent,Rank,Site,TV,Result,Attendance,Current Wins,...,PRCP,SNOW,SNWD,TMAX,TMIN,Opponent_Rank,Conference,Year,Month,Day
0,9/2/2000,Arkansas,8:00 PM,Southwest Missouri State*,NR,"War Memorial StadiumLittle Rock, AR",Not on TV,W 380,53946,0,...,0.00,0.0,0.0,105,65,NR,SEC,2000,9,2
1,9/16/2000,Arkansas,6:00 PM,Boise State*,NR,"War Memorial StadiumLittle Rock, AR",Not on TV,W 3831,54286,1,...,0.00,0.0,0.0,79,44,NR,SEC,2000,9,16
2,9/23/2000,Arkansas,8:00 PM,Alabama,NR,"Razorback StadiumFayetteville, AR",ESPN2,W 2821,51482,2,...,2.12,0.0,0.0,85,63,NR,SEC,2000,9,23
3,9/30/2000,Arkansas,11:30 AM,No. 25 Georgia,NR,"Razorback StadiumFayetteville, AR",JPS,L 738,51162,3,...,0.00,0.0,0.0,77,45,25,SEC,2000,9,30
4,10/7/2000,Arkansas,6:00 PM,LouisianaMonroe*,NR,"Razorback StadiumFayetteville, AR",Not on TV,W 526,50947,3,...,0.00,0.0,0.0,50,28,NR,SEC,2000,10,7

In [285]:
cfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6672 entries, 0 to 6671
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              6672 non-null   object
 1   Team              6672 non-null   object
 2   Time              6672 non-null   object
 3   Opponent          6672 non-null   object
 4   Rank              6672 non-null   object
 5   Site              6672 non-null   object
 6   TV                6672 non-null   object
 7   Result            6672 non-null   object
 8   Attendance        6672 non-null   int64
 9   Current Wins      6672 non-null   int64
 10  Current Losses    6672 non-null   int64
 11  Stadium Capacity  6672 non-null   int64
 12  Fill Rate         6672 non-null   float64
 13  New Coach         6672 non-null   bool
 14  Tailgating        6672 non-null   bool
 15  PRCP              6672 non-null   float64
 16  SNOW              6672 non-null   float64
 17  SNWD              6672 non-null   float64
 18  TMAX              6672 non-null   int64
 19  TMIN              6672 non-null   int64
 20  Opponent_Rank     6672 non-null   object
 21  Conference        6672 non-null   object
 22  Year              6672 non-null   int64
 23  Month             6672 non-null   int64
 24  Day               6672 non-null   int64
dtypes: bool(2), float64(4), int64(9), object(10)
memory usage: 1.2+ MB

In [286]:
cfb.describe()

,Attendance,Current Wins,Current Losses,Stadium Capacity,Fill Rate,PRCP,SNOW,SNWD,TMAX,TMIN,Year,Month,Day
count,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000,6672.000000
mean,45311.522782,2.872752,2.348471,54567.472872,0.793865,0.093230,0.009607,0.015812,71.923711,50.144185,2009.257794,9.905875,15.397482
std,25185.690583,2.427450,2.237201,21755.536191,0.221910,0.337667,0.192520,0.255716,14.457450,14.175122,5.374961,0.927833,8.983737
min,2267.000000,0.000000,0.000000,17000.000000,0.067483,0.000000,0.000000,0.000000,19.000000,0.000000,2000.000000,1.000000,1.000000
25%,23301.000000,1.000000,0.000000,36000.000000,0.645396,0.000000,0.000000,0.000000,62.000000,40.000000,2005.000000,9.000000,8.000000
50%,42527.500000,2.000000,2.000000,52180.000000,0.848149,0.000000,0.000000,0.000000,73.000000,51.000000,2009.000000,10.000000,15.000000
75%,62358.000000,4.000000,4.000000,71799.000000,0.990060,0.010000,0.000000,0.000000,83.000000,61.000000,2014.000000,11.000000,23.000000
max,110889.000000,12.000000,11.000000,107282.000000,1.403993,6.450000,8.200000,7.100000,111.000000,103.000000,2018.000000,12.000000,31.000000

In [287]:
arr = []
win_team = []
win_rate = []
rank = []
opp_rank = []
tv = []
home_team_win = []
for i in range(len(cfb.values)):
    if 'W' in cfb['Result'][i]:
        arr.append('W')
        home_team_win.append(1)
    else:
        arr.append('L')
        home_team_win.append(0)
    if arr[i] == 'W':
        win_team.append(cfb['Team'][i])
    else:
        win_team.append(cfb['Opponent'][i])
    if cfb['Current Losses'][i] + cfb['Current Wins'][i] != 0:
        win_rate.append((cfb['Current Wins'][i])/(cfb['Current Losses'][i] + cfb['Current Wins'][i]))
    else:
        win_rate.append(0.5)
    if cfb['Rank'][i] == 'NR':
        rank.append(False)
    else:
        rank.append(True)
    if cfb['Opponent_Rank'][i] == 'NR':
        opp_rank.append(False)
    else:
        opp_rank.append(True) 
    if 'Not on TV' in cfb['TV'][i]:
        tv.append(False)
    else:
        tv.append(True)
    
cfb['W/L'] = arr
cfb['win_team'] = win_team
cfb['win_rate'] = win_rate
cfb['Rank'] = rank
cfb['Opponent_Rank'] = opp_rank
cfb['TV'] = tv
cfb['home_team_win'] = home_team_win

In [288]:
cfb

,Date,Team,Time,Opponent,Rank,Site,TV,Result,Attendance,Current Wins,...,TMIN,Opponent_Rank,Conference,Year,Month,Day,W/L,win_team,win_rate,home_team_win
0,9/2/2000,Arkansas,8:00 PM,Southwest Missouri State*,False,"War Memorial StadiumLittle Rock, AR",False,W 380,53946,0,...,65,False,SEC,2000,9,2,W,Arkansas,0.500000,1
1,9/16/2000,Arkansas,6:00 PM,Boise State*,False,"War Memorial StadiumLittle Rock, AR",False,W 3831,54286,1,...,44,False,SEC,2000,9,16,W,Arkansas,1.000000,1
2,9/23/2000,Arkansas,8:00 PM,Alabama,False,"Razorback StadiumFayetteville, AR",True,W 2821,51482,2,...,63,False,SEC,2000,9,23,W,Arkansas,1.000000,1
3,9/30/2000,Arkansas,11:30 AM,No. 25 Georgia,False,"Razorback StadiumFayetteville, AR",True,L 738,51162,3,...,45,True,SEC,2000,9,30,L,No. 25 Georgia,1.000000,0
4,10/7/2000,Arkansas,6:00 PM,LouisianaMonroe*,False,"Razorback StadiumFayetteville, AR",False,W 526,50947,3,...,28,False,SEC,2000,10,7,W,Arkansas,0.750000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6667,9/22/2018,UTEP,5:30 PM,New Mexico State*,False,"Sun BowlEl Paso, TX (Battle of I-10)",True,L 2027,19412,0,...,61,False,CUSA,2018,9,22,L,New Mexico State*,0.000000,0
6668,10/6/2018,UTEP,5:30 PM,North Texas,False,"Sun BowlEl Paso, TX",True,L 2427,12809,0,...,67,False,CUSA,2018,10,6,L,North Texas,0.000000,0
6669,10/27/2018,UTEP,5:30 PM,UAB,False,"Sun BowlEl Paso, TX",True,L 019,10787,0,...,49,False,CUSA,2018,10,27,L,UAB,0.000000,0
6670,11/10/2018,UTEP,1:00 PM,Middle Tennessee,False,"Sun BowlEl Paso, TX",True,L 3248,9690,1,...,44,False,CUSA,2018,11,10,L,Middle Tennessee,0.111111,0
6671,11/24/2018,UTEP,1:00 PM,Southern Miss,False,"Sun BowlEl Paso, TX",True,L 739,14962,1,...,45,False,CUSA,2018,11,24,L,Southern Miss,0.090909,0

In [289]:
cols = ['Day','Month','Year','Conference','TMAX','TMIN','SNWD','SNOW','PRCP','Time']
cfb.drop(cols,axis = 1,inplace = True)

In [290]:
cfb

,Date,Team,Opponent,Rank,Site,TV,Result,Attendance,Current Wins,Current Losses,Stadium Capacity,Fill Rate,New Coach,Tailgating,Opponent_Rank,W/L,win_team,win_rate,home_team_win
0,9/2/2000,Arkansas,Southwest Missouri State*,False,"War Memorial StadiumLittle Rock, AR",False,W 380,53946,0,0,53727,1.004076,False,False,False,W,Arkansas,0.500000,1
1,9/16/2000,Arkansas,Boise State*,False,"War Memorial StadiumLittle Rock, AR",False,W 3831,54286,1,0,53727,1.010404,False,False,False,W,Arkansas,1.000000,1
2,9/23/2000,Arkansas,Alabama,False,"Razorback StadiumFayetteville, AR",True,W 2821,51482,2,0,50019,1.029249,False,False,False,W,Arkansas,1.000000,1
3,9/30/2000,Arkansas,No. 25 Georgia,False,"Razorback StadiumFayetteville, AR",True,L 738,51162,3,0,50019,1.022851,False,False,True,L,No. 25 Georgia,1.000000,0
4,10/7/2000,Arkansas,LouisianaMonroe*,False,"Razorback StadiumFayetteville, AR",False,W 526,50947,3,1,50019,1.018553,False,False,False,W,Arkansas,0.750000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6667,9/22/2018,UTEP,New Mexico State*,False,"Sun BowlEl Paso, TX (Battle of I-10)",True,L 2027,19412,0,3,51500,0.376932,False,False,False,L,New Mexico State*,0.000000,0
6668,10/6/2018,UTEP,North Texas,False,"Sun BowlEl Paso, TX",True,L 2427,12809,0,5,51500,0.248718,False,False,False,L,North Texas,0.000000,0
6669,10/27/2018,UTEP,UAB,False,"Sun BowlEl Paso, TX",True,L 019,10787,0,7,51500,0.209456,False,False,False,L,UAB,0.000000,0
6670,11/10/2018,UTEP,Middle Tennessee,False,"Sun BowlEl Paso, TX",True,L 3248,9690,1,8,51500,0.188155,False,False,False,L,Middle Tennessee,0.111111,0
6671,11/24/2018,UTEP,Southern Miss,False,"Sun BowlEl Paso, TX",True,L 739,14962,1,10,51500,0.290524,False,False,False,L,Southern Miss,0.090909,0

In [291]:
cfb['Rank'] = cfb['Rank'].astype("category").cat.codes
cfb['TV'] = cfb['TV'].astype("category").cat.codes
cfb['New Coach'] = cfb['New Coach'].astype("category").cat.codes
cfb['Tailgating'] = cfb['Tailgating'].astype("category").cat.codes
cfb['Opponent_Rank'] = cfb['Opponent_Rank'].astype("category").cat.codes

In [292]:
cfb

,Date,Team,Opponent,Rank,Site,TV,Result,Attendance,Current Wins,Current Losses,Stadium Capacity,Fill Rate,New Coach,Tailgating,Opponent_Rank,W/L,win_team,win_rate,home_team_win
0,9/2/2000,Arkansas,Southwest Missouri State*,0,"War Memorial StadiumLittle Rock, AR",0,W 380,53946,0,0,53727,1.004076,0,0,0,W,Arkansas,0.500000,1
1,9/16/2000,Arkansas,Boise State*,0,"War Memorial StadiumLittle Rock, AR",0,W 3831,54286,1,0,53727,1.010404,0,0,0,W,Arkansas,1.000000,1
2,9/23/2000,Arkansas,Alabama,0,"Razorback StadiumFayetteville, AR",1,W 2821,51482,2,0,50019,1.029249,0,0,0,W,Arkansas,1.000000,1
3,9/30/2000,Arkansas,No. 25 Georgia,0,"Razorback StadiumFayetteville, AR",1,L 738,51162,3,0,50019,1.022851,0,0,1,L,No. 25 Georgia,1.000000,0
4,10/7/2000,Arkansas,LouisianaMonroe*,0,"Razorback StadiumFayetteville, AR",0,W 526,50947,3,1,50019,1.018553,0,0,0,W,Arkansas,0.750000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6667,9/22/2018,UTEP,New Mexico State*,0,"Sun BowlEl Paso, TX (Battle of I-10)",1,L 2027,19412,0,3,51500,0.376932,0,0,0,L,New Mexico State*,0.000000,0
6668,10/6/2018,UTEP,North Texas,0,"Sun BowlEl Paso, TX",1,L 2427,12809,0,5,51500,0.248718,0,0,0,L,North Texas,0.000000,0
6669,10/27/2018,UTEP,UAB,0,"Sun BowlEl Paso, TX",1,L 019,10787,0,7,51500,0.209456,0,0,0,L,UAB,0.000000,0
6670,11/10/2018,UTEP,Middle Tennessee,0,"Sun BowlEl Paso, TX",1,L 3248,9690,1,8,51500,0.188155,0,0,0,L,Middle Tennessee,0.111111,0
6671,11/24/2018,UTEP,Southern Miss,0,"Sun BowlEl Paso, TX",1,L 739,14962,1,10,51500,0.290524,0,0,0,L,Southern Miss,0.090909,0

In [345]:
cols = ['Date','Team','Opponent','Site','Result','Current Wins','Current Losses','win_team','W/L','Attendance','Stadium Capacity','Tailgating']
train = cfb.drop(cols,axis = 1)

In [346]:
train

      Rank  TV  Fill Rate  New Coach  Opponent_Rank  win_rate  home_team_win
0        0   0   1.004076          0              0  0.500000              1
1        0   0   1.010404          0              0  1.000000              1
2        0   1   1.029249          0              0  1.000000              1
3        0   1   1.022851          0              1  1.000000              0
4        0   0   1.018553          0              0  0.750000              1
...    ...  ..        ...        ...            ...       ...            ...
6667     0   1   0.376932          0              0  0.000000              0
6668     0   1   0.248718          0              0  0.000000              0
6669     0   1   0.209456          0              0  0.000000              0
6670     0   1   0.188155          0              0  0.111111              0
6671     0   1   0.290524          0              0  0.090909              0

[6672 rows x 7 columns]

In [347]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train.drop('home_team_win',axis=1), 
                                                    train['home_team_win'], test_size=0.1, 
                                                    random_state=101)

In [348]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

LogisticRegression()

In [349]:
predictions = logmodel.predict(X_test)

In [350]:
from sklearn.metrics import classification_report

In [351]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.72      0.34      0.46       235
           1       0.72      0.93      0.81       433

    accuracy                           0.72       668
   macro avg       0.72      0.63      0.64       668
weighted avg       0.72      0.72      0.69       668

In [360]:
from sklearn.neighbors import KNeighborsClassifier

In [391]:
knn = KNeighborsClassifier(n_neighbors=55)

In [392]:
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=55)

In [393]:
pred = knn.predict(X_test)

In [394]:
from sklearn.metrics import classification_report

In [395]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.70      0.46      0.56       235
           1       0.75      0.89      0.82       433

    accuracy                           0.74       668
   macro avg       0.73      0.68      0.69       668
weighted avg       0.73      0.74      0.73       668